#header .ui-accordion .ui-accordion-header { margin: 0; border: 0; outline:0}
#header .ui-state-active,
#header .ui-widget-content .ui-state-active,
#header .ui-widget-header .ui-state-active,
#header a.ui-button:active,
#header .ui-button:active,
#header .ui-button.ui-state-active:hover { border: 0;}
#header .ui-accordion .ui-accordion-content { padding:0;}