.btn {
  &:not(.fa) {
    font-size: 1.5rem;
  }
  line-height: 1.7;
  cursor: pointer;
  min-width: 36px;
  i {
    position: relative;
    top: 2px;
    min-width: 16px;
    display: inline-block;
  }
  &:focus, &.focus {
    box-shadow: none;
  }
}

.btn-group {
  .btn-secondary {
    border-color: #2bb7b3;
  }
}

.btn-link {
  color: #2bb7b3;
  //text-decoration: underline;
  background-color: transparent;
  height: auto;
  line-height: 1.5;
  padding: 0;
  border-bottom: 1px solid #2bb7b3;
  &:hover {
    text-decoration: none;
    color: #22928f !important;
    border-bottom: 1px solid #1e807d;
  }
}

// button
.btn-secondary:active, .btn-secondary.active, .show > .btn-secondary.dropdown-toggle {
  background-image: inherit;
}

@mixin btns {
  justify-content: center;
  .btn {
    min-width: 100px;
  }
  .btn + .btn {
    margin-left: 16px;
  }
}

.btns {
  @include btns;
}

.btn-primary {
  min-height: 44px;
  background-color: #2bb7b3;
  border: 1px solid transparent;
  &:hover, &:active {
    background-color: #22928f;
    border-color: #1e807d;
  }
}

.btn-primary:not([disabled]):not(.disabled):active, .btn-primary:not([disabled]):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  background-color: #197775;
  border-color: #197775;
}

.form-control + .btn, .form-control + .btn ~ .btn, .input-group-btn .btn {
  min-height: 38px;
  min-width: auto;
}

.btn-secondary {
  min-height: 44px;
  color: rgba(0, 0, 0, 0.54);
  background-color: #fff;
  border-color: #bfbfbf;
  &.active {
    color: #fff;
    &:hover {
      background-color: rgba(0, 0, 0, .5);
    }
  }
}

.btn-secondary:not([disabled]):not(.disabled):active, .btn-secondary:not([disabled]):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
  background-color: #565e67;
  border-color: #565e67;
}

.btn-danger {
  background-color: #f25053;
}

.input-group-btn {
  &:hover {
    background-color: #ddd;
  }
}

.btn-outline-primary {
  @include button-outline-variant(#2bb7b3, $color-hover: #fff)
}

.footer .btn-secondary.active, .ui-dialog-buttonpane .btn-secondary.active {
  background-color: #f25053 !important;
  border-color: transparent !important;
  box-shadow: none !important;
}