.ui-dialog {
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  border: solid 0 #fff;
  .ui-dialog-titlebar {
    height: 44px;
    background-color: #3a3f4f;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    .ui-button {
      background: transparent url(../img/ico_close_popup.png) 50% no-repeat;
    }
    .ui-button .ui-icon {
      display: none;
    }
  }
  .ui-dialog-titlebar-close {
    background-color: transparent;
    border: 0;
  }

  .ui-dialog-content {
    padding: 20px;
  }
  .ui-dialog-buttonpane {
    padding-top: 0;
    button {
      margin-top: 0;
      margin-bottom: 0;
      min-width: 100px;
    }
    .btn {
      min-height: 38px;
    }
  }

  h4 + .table-header {
    margin-top: 10px;
  }

  .table-header {
    margin-top: 0;
  }
  .pagination {
    padding-bottom: 0;
  }
}
.no-title {
  border-radius: 4px;
  background-color: #fff;
  .ui-dialog-titlebar {
    display: none;
  }
}
.close-title {
  .ui-dialog-titlebar {
    position: absolute;
    z-index: 10;
    background-color: transparent;
    right: 0;
  }
  .ui-dialog-titlebar .ui-button {
    background-color: #ddd;
  }
}
// 단말기선택
.device-select {
  .form {
    margin-bottom: 20px;
  }
  label {
    display: inline-block;
    min-width: 50px;
  }
  ul {
    @include list-unstyled;
    li {
      display: flex;
    }
  }
  .test-list {
    background-color: #f6f6f6;
    border: 1px solid #d2d2d2;
    border-width: 1px 0;
  }
  .flexbox {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.4rem;
    padding: 10px;

    .title {
      color: #999;
      width: 72px;
      text-align: right;
    }
    .value {
      padding-left: 6px;
    }

    .device-title {
      font-size: 1.5rem;
      justify-content: center;
      border-bottom: 1px solid rgba(0, 0, 0, .1);
      padding-bottom: 6px;
      margin-bottom: 8px;
    }

    > li {
      position: relative;
      background-color: #fff;
      display: flex;
      width: calc(20% - 10px);
      border: 1px solid #e5e5e5;
      padding: 8px;
      margin: 5px;
      font-size: 1.2rem;
      outline: 0;
      ul {
        width: 100%;
      }

      &.active {
        border: 1px solid transparent;
        background-color: #2bb7b3;
        color: #fff;
        .title {
          color: #0c8e8a;
        }
        .device-title {
          border-bottom: 1px solid #7fcbc9;
        }
      }

      &.select, &.select.active {
        border: 1px solid inherit;
        background-color: #999;
        color: #fff;
        pointer-events: none; // disabled
        .title {
          color: inherit;
        }
        .device-title {
          border-bottom: 1px solid #ddd;
        }
      }

      opacity: 0;
      transform: scale3d(.8, .8, 1);
      transition: transform .2s;
    }
    &.active li {
      opacity: 1;
      transform: scale3d(1, 1, 1);
      transition-delay: 0.01s;
    }

  }
}
// 공통팝업 - 확인
.check-popup {
  .dialog {
    padding: 30px 20px 10px;
    text-align: center;
    .form {
      padding-left: 20px;
      padding-right: 20px;
    }
    .small {
      font-size: 12px;
    }
  }
}
.address-input {
  label {
    min-width: 53px;
  }
  select.form-control {
    width: 100%;
  }
}
.address-find-result {
  display: none;
  margin-top: 30px;
  .list {
    width: 100%;
    border-top: 2px solid #117a8b;
    td {
      padding: 4px;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      &:last-child {
        text-align: right;
      }
    }
  }
}
.btn-close {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 10px;
  background: #ddd url(../img/btn_close.png) 50%/16px no-repeat;
  &:hover, &:active {
    background-image: url(../img/btn_close.png);
    opacity: .6;
  }
}
/* 토스트 */
.toast {
  left: auto !important;
  right: 25px !important;
  .ui-dialog-content {
    display: flex;
    min-height: auto !important;
    padding: 15px;
    background-color: #162232;
    border-left: 5px solid #2bb7b4;
    color: #fff;
  }

  .ui-button {
    background-color: transparent !important;
  }

  .item {
    padding-left: 66px;
  }
}
/* 알람 */
.alarm {
  border-radius: 0;
  height: calc(100vh - 52px);
  &:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    top: -14px;
    right: 30px;
    border: 7px solid transparent;
    border-bottom-color: #fff;
  }
  .ui-dialog-content {
    padding: 0;
  }
  .ui-tabs-panel {
    height: 100%;
    padding-top: 5px;
  }

  dd {
    color: #797878;
  }
  .list {
    font-size: 1.3rem;
    overflow: hidden;
    height: calc(100vh - 52px);
  }
  .item {
    display: flex;
    position: relative;

    dl {
      width: 100%;
      padding: 12px 10px 12px 46px;
      dt {
        color: #393838;
      }
      dd {
        color: #797878;
      }
    }
    &[ data-point="true"] {
      dl {
        background: url(../img/ico_point.png) 7px 5px no-repeat;
      }
    }

    & + .item {
      border-top: 1px solid rgba(210, 210, 210, .5);
    }
  }
  .name {
    background: url(../img/ico_alarm_name.png) 0 50% no-repeat;
    padding-left: 20px;
  }
  .date {
    background: url(../img/ico_alarm_date.png) 0 50% no-repeat;
    padding-left: 20px;
  }
}
#organization-select.ui-dialog-content {
  overflow: hidden;
}
.clauses {
  h3 { margin-bottom: 10px; }
  h4 { margin-bottom: 10px; }
  .table-bordered th {
    background-color: #e9ecef;
  }
}