.no-flexbox {
  button, select {
    -ms-appearance: none;
  }

  .row {
    display: table;
    width: 100%;
    border-collapse: collapse;
    position: relative;
  }
  .col, .col-6 {
    position: relative;
    display: inline-block;
  }

  .form-control, .form-file {
    display: inline-block;
  }

  .flex {
    position: relative;
    .header {
      position: relative;
    }
    .body {
      position: relative;
    }
    .footer {
      width: 100%;
      @include btns;
      position: absolute;
      bottom: 0;
    }
  }

  .footer {
    text-align: center;
  }

  .system-area {
    .col {
      width: calc(20% - 28px);
    }
  }

  .table-header {
    position: relative;
    overflow: hidden;
    .input-group {
      min-width: 290px;
    }
    .form-inline {
      > * {
        display: block;
        float: left;
      }
    }
    label, .counter {
      padding-top: 8px;
    }
    .form-control, .form-file {
      max-width: 182px;
    }
  }

  .table-header.justify-content-between {
    > * {
      &:first-child {
        float: left;
      }
      &:last-child {
        float: right;
      }
    }
  }


  .form {
    .row {
      overflow: hidden;
    }
    .col, .col-6 {
      width: 50%;
      float: left;
    }
    .form-control, .form-file {
      display: inline-block;
    }
  }

  .form-layout {
    .col {
      text-align: center;
    }
    .result {
      margin-top: 0;
    }
    .align-items-start {
      position: relative;
      label {
        //border: 1px solid #000;
        //padding-top: 0;
      }
      .form-file {
        text-align: left;
      }
    }
  }


  .pagination {
    width: 100%;
    display: inline-block;
    text-align: center;
    > li {
      display: inline-block;
      vertical-align: middle;
      & + li {
        margin-left: -3px;
      }
    }
  }

  .input-group.form-map-search {
    position: absolute;
  }

  .input-group {
    position: relative;
    display: inline-block;
    height: 36px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0;
    background-color: #fff;
    .form-control {
      position: absolute;
      left: 36px;
      right: 0;
      width: 100% !important;
      z-index: 1;
      border: 0;
      background-color: transparent;
    }
    .input-group-addon {
      position: absolute;
      background-color: transparent;
      width: 36px;
      height: 36px;
      border: 0;
    }
    .input-group-btn {
      position: absolute;
      right: 0;
      background-color: #959595;
      border-radius: 3px;
    }
  }

  .search-area {
    .input-group-btn {
      top: 3px !important;
    }
  }

  .filter-area {
    .content {
      padding: 15px 10px;
      .row {
        overflow: hidden;
        margin-left: 0;
        .col {
          width: 50%;
          float: left;
          padding: 0 5px;
        }
        .tip {
          vertical-align: middle;
        }
      }
      .form-inline {
        overflow: hidden;
        > * {
          float: left;
        }
        label {
          min-width: 60px;
        }
      }
    }
  }

  //.form-primary {
  //  .col-7, .col {
  //    > * {
  //      float: left;
  //      display: inline-block;
  //      & + * {
  //        margin-left: 8px !important;
  //      }
  //    }
  //  }
  //}
  //
  //.form-primary .row > div > * + * {
  //  margin-left: 2px;
  //}

  .col-8, .col-4 {
    float: left;
  }
  .col-4.form {
    label {
      display: inline-block;
      width: 80px;
    }
    .form-control {
      display: inline-block;
      width: auto !important;
      max-width: calc(100% - 90px);
    }
    textarea.form-control {
      width: calc(100% - 90px) !important;
    }
  }

  #cs {
    .align-items-start {
      .form-control {
        width: 300px;
      }
    }
  }

  /*대상관리 > 대상유형관리*/
  .row-layout {
    .col {
      max-width: 50%;
      float: left;
    }
  }

  /*매핑가능단말선택팝업*/
  .device-select {
    .flexbox {
      > li {
        float: left;
      }
      ul {
        overflow: hidden;
        .device-title .value {
          text-align: center;
          width: 100%;
        }
        li {
          overflow: hidden;
          span {
            float: left;
          }
        }
      }
    }
  }
}
