.no-frame {
  padding: 0;
  min-height: 100vh;
}

#login .container{
  width: 942px !important;
  height: 100vh;
  padding: 0;
}

#login {
  height: 100vh;
  background: url(../img/login_bg.png) 50%/cover no-repeat;
  .container {
    position: relative;
  }
  address {
    position: absolute;
    bottom: 28px;
    //padding-left: 66px;
    font-size: 12px;
    color: #fff;
    display: block;
  }
}

.login-copy {
  background: url(../img/login_copy.png) 0 0 no-repeat;
  width: 490px;
  height: 165px;
  position: absolute;
  top: 254px;
  left: 0;
}

.login-form {
  position: absolute;
  top: 0;
  right: 0;
  width: 417px;
  height: 100vh;
  background-color: #fff;
  padding: 252px 58px 0;
  label {
    display: block;
    color: #c0c0c0;
    font-size: 12px;
  }
  .form-control {
    border: 0;
    border-bottom: 1px solid #2bb7b3;
    border-radius: 0;
    margin-bottom: 44px;
    font-size: 18px;
    padding: 0;
    &:focus {
      outline: 0;
    }
  }
  .find-password-link {
    position: relative;
    top: -32px;
    display: block;
    font-size: 12px;
    color: rgba(140, 140, 140, 0.5);
  }
  .form-otp {
    margin-bottom: 50px;
  }
  .btn-primary {
    width: 291px;
    height: 52px;
    border-radius: 26px;
    font-size: 18px;
  }
  .btn-link {
    position: absolute;
    text-align: center;
    display: block;
    bottom: 34px;
    border: 0;
    left: 0;
    right: 0;
  }
}

.ico-valid {
  background: url(../img/form_check.png) 100% 50% no-repeat !important;
}
