@mixin device-item {
  dt {
    line-height: 1.7;
  }
  dd {
    line-height: 1.5;
    margin: 5px 0;
  }

  .device-title {
    display: flex;
    font-weight: 400;
    text-indent: 20px;
  }

  .device-serial {
    //padding-left: 10px;
  }

  [data-value] {
    background: 0 48% no-repeat;
    //padding-left: 20px;
    &[data-value="0"] {
      background-image: url(../img/ico_check_false.png);
    }
    &[data-value="1"] {
      background-image: url(../img/ico_check_true.png);
    }
    &[data-value="2"] {
      background-image: url(../img/ico_check_off.png);
    }
  }

  .device-battery {
    background: 0 50% no-repeat;
    padding-left: 30px;
    margin-left: 10px;
    font-size: 1.2rem;
    &[data-value="0"] {
      background-image: url(../img/ico_battery_empty.png);
    }
    &[data-value="1"] {
      background-image: url(../img/ico_battery_mid.png);
    }
    &[data-value="2"] {
      background-image: url(../img/ico_battery_full.png);
    }
  }

  .device-address {
    background: url(../img/ico_marker.png) 2px 50% no-repeat;
    padding-left: 20px;
  }
  .device-date {
    background: url(../img/ico_time.png) 1px 50% no-repeat;
    padding-left: 20px;
  }
  .device-gps {
    background: url(../img/ico_gps.png) 1px 50% no-repeat;
    padding-left: 20px;
  }
  .device-wifi {
    border-left: 1px solid #444;
    padding-left: 10px;
    margin-left: 10px;
  }

}
.marker-dialog {
  &:after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -15px;
    border: 10px solid transparent;
    border-top-color: #162232;
  }
  padding: 20px;
  .btn {
    min-height: 36px;
  }
  .btn-close {
    border-radius: 0;
    background-color: transparent;
  }
  .header {
    display: flex;
    align-items: center;
    .img {
      display: inline-block;
      width: 36px;
      height: 36px;
      img {
        max-width: 100% !important;
        border-radius: 50%;
        width: 36px;
        height: 36px;
      }
    }
    .title {
      display: inline-block;
      padding-left: 10px;
      font-size: 2rem;
    }
  }

  .device-title {
    font-size: 1.6rem;
  }

  .device-battery {
    position: absolute;
    right: 46px;
    top: 34px;
    color: #b5b5b5;
  }

  span {
    display: inline-block;
  }
  .body {
    border: 1px solid #444;
    border-width: 1px 0;
    margin-top: 12px;
    padding: 10px 0;
    dd {
      color: #b5b5b5;
    }
  }
  @include device-item;

  .footer {
    .btn:first-child {
      display: flex;
      flex: 1 0 auto;
      justify-content: center;
    }
    .btn:last-child {
      min-width: auto;
      width: 44px;
    }
  }

}
#page-monitoring {
  overflow-y: hidden;
}
#monitoring {
  > .content {
    padding: 0;
  }

  .monitoring-area {
    position: relative;
    height: calc(100vh - 52px);
    .map {
      left: 340px;
      width: calc(100% - 340px);
    }
  }

  .submenu {
    overflow: hidden;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-content: stretch;
    flex-direction: column;
    flex: 1 1 auto;
    width: 340px;
    background-color: #fcfcfc;
    box-shadow: 3px 0 3px rgba(0, 0, 0, .2);
    > .footer {
      z-index: 10;
      position: absolute;
      left: 15px;
      bottom: 0;
      width: calc(100% - 30px);
      border-top: 1px solid #d1d2d4;
      padding: 10px 0;
      font-size: 15px;
      text-align: center;
      color: rgba(0, 0, 0, 0.54);
      background-color: #fafafa;
    }
  }

  .search-area {
    padding: 22px 12px;
    .btn {
      width: 54px;
    }

    .form-control, .input-group {
      border: 0;
      border-radius: 3px;
      box-shadow: -2.6px 1.5px 4.7px 0.3px rgba(0, 0, 0, 0.24);
      &:focus, &:hover {
        z-index: 0;
      }
      .input-group-addon, .form-control, .btn {
        border: 0;
        box-shadow: none;
      }
    }
  }
}
.filter-area {
  .title {
    overflow: hidden;
    padding: 0 15px 20px 8px;
    .btn {
      min-height: 36px;
    }
  }

  .btn-filter {
    float: left;
    position: relative;
    background: transparent;
    text-align: left;
    &:after {
      @include fa-icon();
      content: $fa-var-chevron-down;
      display: inline-block;
      color: rgba(0, 0, 0, .54);
      margin-left: 20px;
      position: relative;
      top: -2px;
    }
  }
  .ui-state-active {
    .btn-filter:after {
      content: $fa-var-chevron-up;
    }
  }

  .end {
    float: right;
    .btn {
      width: 57px;
      float: left;
      &.active, &:active, &:hover {
        background-color: #2bb7b3;
        color: #fff;
        border-color: transparent;
      }
    }
  }

  .tip {
    background-image: url(../img/if_help-questionmark_430101_dark.png);
  }

  .content {
    display: none;
    padding: 15px;
    background-color: #ebebeb;
    box-shadow: inset 0 5px 5px rgba(0, 0, 0, .04);
    select.form-control, select.form-control:focus {
      background-color: #fff;
    }
    h4 {
      font-size: 1.4rem;
      margin-bottom: 0;
    }
    .row {
      margin: 15px -15px;
    }
    .col {
      &:first-child {
        padding-right: 5px;
      }
      &:last-child {
        padding-left: 5px;
        label:not(.custom-control) {
          min-width: 36px;
          justify-content: flex-start;
        }
      }
    }
  }
}
.ie11 {
  .filter-area .content label:not(.custom-control) {
    margin-left: -5px;
  }
}
#monitoring-list {
  height: calc(100vh - 160px);
  .thead {
    margin: 0 15px;
    border: 1px solid #ddd;
    border-width: 1px 0;
    height: 40px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.54);
    display: table;
    width: calc(100% - 30px);
    > div {
      display: table-cell;
      text-align: center;
      padding: 10px 0;
    }
    .thead-mapping {
      width: 50px;
    }
    .thead-check {
      width: 40px;
    }
  }

  .item {
    overflow: hidden;
    &:after {
      content: '';
      border-bottom: 1px solid #d1d2d4;
      display: block;
      width: calc(100% - 30px);
      margin-left: 15px;
    }

    .title {
      min-height: 68px;
      padding: 10px 15px 10px 30px;
      display: table;
      font-size: 16px;
      > div {
        display: table-cell;
        vertical-align: middle;
      }
      &.ui-state-active {
        background-color: #f9f9f9;
      }
    }
    .content {
      display: none;
      background-color: #eee;
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, .06);
    }
    .asset-thum {
      min-width: 58px;
      height: 48px;
      img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
      }
    }
    .asset-title {
      width: 180px;
      cursor: pointer;
      text-indent: 22px;
    }
    .asset-mapping {
      width: 50px;
      text-align: center;
    }
    .asset-check {
      width: 50px;
      position: relative;
      .custom-control {
        margin: 0;
        padding: 0;
      }
      > * {
        z-index: 10;
        position: absolute;
        top: 14px;
        left: 12px;
      }
    }

    @include device-item;

    .device-item {
      &:last-child {
        border: 0;
      }
      position: relative;
      padding: 15px 15px 15px 20px;
      margin-bottom: 0;
      border-bottom: 1px solid #d2d2d2;
      &:hover {
        background-color: rgba(0, 0, 0, .06);
      }
      &:active {
        background-color: rgba(0, 0, 0, .08);
      }

      dl {
        width: 255px;
      }
      dt {
        display: flex;
        position: relative;
      }
      dd {
        color: #787878;
      }

      .btn {
        position: absolute;
        right: 15px;
        bottom: 15px;
        &:after {
          @include fa-icon();
          content: $fa-var-chevron-right;
          display: inline-block;
          font-size: 12px;
          padding-left: 4px;
          position: relative;
          top: -1px;
        }
      }
    }

  }
}
.monitoring-detail {
  display: block !important;
  .header {
    padding: 20px;
  }
  .thum {
    margin: auto;
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    img {
      max-width: 70px;
      height: 70px;
      border-radius: 50%;
      display: flex;
      flex: 1;
    }
    dl {
      flex: 1;
      padding-left: 12px;
      dt {
        font-size: 1.6rem;
      }
      dd {
        color: #797878;
        margin-bottom: 3px;
      }
    }
  }

  .ui-tabs {
    .ui-tabs-panel {
      padding: 10px;
    }
    h4 {
      margin: 15px 0;
    }
    .d-flex {
      align-items: center;
    }
  }

  .list {
    margin-bottom: 0;
    @include list-unstyled;
    border-top: 1px solid #ddd;
    li {
      padding: 10px 0;
      border-bottom: 1px solid #ddd;
    }
  }

  .title {
    display: inline-block;
    min-width: 70px;
    color: #b9b9b9;
    font-size: 1.3rem;
  }

  .value {
    span {
      display: inline-block;
      margin: 0 3px;
    }
  }

  .table {
    margin-top: 10px;
    th, td {
      border: 1px solid #e8e8e8;
      text-align: left;
    }
    td {
      background-color: #f5f5f5;
    }

    th {
      background: url(../img/ico_geo_s.png) 8px 50% no-repeat;
      padding-left: 30px;
    }
  }

}
.form-header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 340px;
  right: 0;
  height: 65px;
  padding: 14px 15px 0;
  background-color: #f6f6f6;
  border-bottom: 1px solid #ddd;
}
.event-log {
  position: absolute;
  z-index: 50;
  width: 300px;
  padding: 15px;
  right: -300px;
  top: 65px;
  bottom: 0;
  background-color: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

  .btn-toggle {
    position: absolute;
    left: -36px;
    top: 45vh;
    width: 30px;
    height: 65px;
    background: #fff url(../img/btn_prev.png) 50% no-repeat;
    border: 1px solid #ddd;
    border-width: 1px 0 1px 1px;
    z-index: 10;
    border-radius: 0;
  }
  &.active .btn-toggle {
    background-image: url(../img/btn_next.png);
  }

  .header {
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    h3 {
      font-size: 15px;
      font-weight: 500;
      color: #242947;
    }
    .counter {
      font-size: 13px;
      color: #919191;
    }
  }

  //.btn-counter {
  //  margin: 15px 0;
  //  padding: 10px 0;
  //  text-align: center;
  //  background-color: #d7f2f1;
  //  border: 1px solid #2bb7b3;
  //  .counter {
  //    font-size: 1.6rem;
  //    font-weight: bold;
  //    color: #333;
  //    position: relative;
  //    top: -3px;
  //  }
  //}

  //.button-set {
  //  display: flex;
  //  flex-wrap: wrap;
  //  justify-content: space-between;
  //  .btn {
  //    font-size: 13px;
  //    margin-bottom: 12px;
  //    width: 30%;
  //    padding-top: 30px;
  //    border: 1px solid #e8e8e8;
  //  }
  //  .value {
  //    display: block;
  //    text-align: center;
  //    font-size: 1.8rem;
  //    line-height: 1.2;
  //  }
  //}

  .list {
    @include list-unstyled;

    li {
      padding: 10px 0;
      border-bottom: 1px solid #ddd;
      font-size: 1.3rem;
      position: relative;
      display: flex;
    }

    .badge {
      background: url(../img/flag_s.png) 0 no-repeat;
      min-width: 24px;
      margin-right: 20px;
      min-height: 21px;
      border-radius: 0;
      line-height: 1.9;
      position: relative;
      top: 0;
      color: #fff;
      &.active {
        background-image: url(../img/flag_on_s.png);
      }
    }

    .log-list {
      display: flex;
      flex-direction: column;
      div {
        display: flex;
        align-items: center;
        & + div {
          margin-top: 5px;
        }
      }
    }

  }
}
.map-btn-area {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 10;
  .btn-refresh {
    width: 72px;
    height: 72px;
    padding-top: 42px;
    background: #fff url(../img/ico_re.png) 50% 30% no-repeat;
    &:hover {
      color: inherit;
    }
  }
  .map-type {
    margin-top: 10px;
    .btn {
      height: 36px;
      width: 72px;
      display: block;
      &.active {
        color: #fff;
      }
      &:first-child {
        border-radius: 3px 3px 0 0;
      }
      &:last-child {
        border-radius: 0 0 3px 3px;
      }
    }
  }
}
.ico-contact {
  background-image: url(../img/ico_contact.png);
  &:active {
    background-image: url(../img/ico_contact.png);
  }
}
.alarm .item {
  background: 12px 11px no-repeat;
  &[data-icon="GI"], &[data-icon="GO"] { background-image: url(../img/GI_S.png); }
  &[data-icon="ER"] { background-image: url(../img/ER_S.png); }
  &[data-icon="BA"] { background-image: url(../img/BA_S.png); }
  &[data-icon="SH"] { background-image: url(../img/SH_S.png); }
  &[data-icon="SP"] { background-image: url(../img/SP_S.png); }
  &[data-icon="TM"] { background-image: url(../img/TM_S.png); }
  &[data-icon="HM"] { background-image: url(../img/HM_S.png); }
}
.toast .item {
  background: 5px 5px no-repeat;
  &[data-icon="GI"], &[data-icon="GO"] { background-image: url(../img/GI_L.png); }
  &[data-icon="ER"] { background-image: url(../img/ER_L.png); }
  &[data-icon="BA"] { background-image: url(../img/BA_L.png); }
  &[data-icon="SH"] { background-image: url(../img/SH_L.png); }
  &[data-icon="SP"] { background-image: url(../img/SP_L.png); }
  &[data-icon="TM"] { background-image: url(../img/TM_L.png); }
  &[data-icon="HM"] { background-image: url(../img/HM_L.png); }
}
.event-log i {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 8px;
  background: 50% no-repeat;
  &[data-icon="GI"], &[data-icon="GO"] { background-image: url(../img/GI_S_B.png); }
  &[data-icon="ER"] { background-image: url(../img/ER_S_B.png); }
  &[data-icon="BA"] { background-image: url(../img/BA_S_B.png); }
  &[data-icon="SH"] { background-image: url(../img/SH_S_B.png); }
  &[data-icon="SP"] { background-image: url(../img/SP_S_B.png); }
  &[data-icon="TM"] { background-image: url(../img/TM_S_B.png); }
  &[data-icon="HM"] { background-image: url(../img/HM_S_B.png); }
  &[data-icon="ET"] { background-image: url(../img/ET_S_B.png); }
}
#page-monitoring {

  .ui-selectmenu-button.ui-button {
    background-color: #f5f5f5;
    border: 1px solid #e8e8e8;
    border-radius: 0;
    width: 100%;
    height: 40px;
    padding-top: 8px;
  }
  .ui-selectmenu-icon.ui-icon {
    margin-top: 3px;
    background: url(../img/ico_select_primary.png) 50% no-repeat;
  }
  [aria-expanded="true"] .ui-selectmenu-icon.ui-icon {
    background-image: url(../img/ico_select_primary_up.png);
  }
  .ui-selectmenu-menu .ui-menu {
    margin-top: -1px;
  }
  .ui-selectmenu-menu .ui-menu .ui-menu-item + .ui-menu-item {
    margin-top: -1px;
  }
  .ui-selectmenu-menu .ui-menu .ui-menu-item-wrapper {
    position: relative;
    padding: 11px 10px 0 36px;
    height: 40px;
    background-color: #f5f5f5;
    border: 1px solid #e8e8e8;
    color: #797878;
  }
  .ui-menu-item-wrapper, .ui-selectmenu-text {
    background: 14px 50% no-repeat;
    &[data-icon="GI"], &[data-icon="GO"] { background-image: url(../img/GI_B.png); }
    &[data-icon="ER"] { background-image: url(../img/ER_B.png); }
    &[data-icon="BA"] { background-image: url(../img/BA_B.png); }
    &[data-icon="SH"] { background-image: url(../img/SH_B.png); }
    &[data-icon="SP"] { background-image: url(../img/SP_B.png); }
    &[data-icon="TM"] { background-image: url(../img/TM_B.png); }
    &[data-icon="HM"] { background-image: url(../img/HM_B.png); }
    &[data-icon="ET"] { background-image: url(../img/ET_B.png); }
    &[data-icon="AL"] { background-image: url(../img/AL_B.png); }
  }
  .ui-selectmenu-text {
    background: 0 50% no-repeat;
    padding-left: 22px;
  }
  .ui-menu-item-wrapper .value {
    position: absolute;
    right: 16px;
    top: 6px;
    font-size: 18px;
    color: #393838;
  }
  .ui-selectmenu-text .value {
    font-size: 18px;
    color: #393838;
    line-height: 1;
    display: inline-block;
    margin-left: 6px;
  }
  .ui-selectmenu-menu .ui-menu .ui-state-focus,
  .ui-selectmenu-menu .ui-menu .ui-state-active {
    background-color: #cde9e8;
    border-color: #bedad9;
    margin: 0;
  }
}

