#m07020000 {
  .form {
    select {
      max-width: 80px;
    }
    .row {
      > div {
        padding-left: 0;
      }
      label {
        padding-left: 0;
      }
    }
    .col-3 {
      label {
        width: 80px;
      }
    }
    .col-5 {
      padding-left: 30px !important;
      label {
        width: 60px;
      }
    }
    .col-4 {
      label {
        width: 70px;
      }
    }
  }
}

.map-search-area {
  .form {
    .btn-block {
      width: calc(100% - 100px);
      margin-left: 100px;
    }
  }
}

.no-flexboxlegacy .map-search-area {
  .form {
    .btn-block {
      width: calc(100% - 110px);
      margin-left: 110px;
    }
  }
}