.ui-tabs {
  padding: 0;
  .ui-tabs-nav {
    padding-left: 0;
    li {
      margin: 0;
      flex: 1 0 auto;
      .ui-tabs-anchor {
        float: none;
        display: block;
        text-align: center;
        padding: 1rem .8rem;
      }
    }
  }
  .ui-tabs-panel {
    width: 100% !important; // jqgrid width 값 문제
    padding: 0;
  }
}

.tabs-primary {
  .ui-tabs-nav {
    display: flex;
    padding: 0;
    border-bottom: 1px solid #d2d2d2;
    li {
      flex: 0 0 auto;
      .ui-tabs-anchor {
        color: #b9b9b9;
        font-size: 1.6rem;
        padding: 8px 20px;
      }
      &.ui-state-active {
        border-bottom: 4px solid #2bb7b3;
        padding: 0;
        margin: 0;
        margin-bottom: -1px;
        .ui-tabs-anchor {
          color: #2bb7b3;
        }
      }
    }
  }

  .ui-tabs-panel {
    padding: 0;
  }
}

.dialog {
  .ui-tabs-panel {
    padding-top: 20px;
  }
}

.tabs-secondary {
  .ui-tabs-nav {
    display: flex;
    padding: 0;
    li {
      border-bottom: 4px solid #d2d2d2;
      .ui-tabs-anchor {
        color: #b9b9b9;
        font-size: 1.6rem;
      }
      &.ui-state-active {
        border-color: #2bb7b3;
        margin: 0;
        padding: 0;
        .ui-tabs-anchor {
          color: #2bb7b3;
        }
      }
    }
  }

  .ui-tabs-panel {
    padding: 10px;
  }
}

.event-area .ui-tabs {
  width: 100%;
  position: relative;
  .ui-tabs-nav {
    li {
      .ui-tabs-anchor {
        border: 1px solid #fff;
        border-radius: 20px;
        color: #fff;
        font-size: 1.3rem;
        padding: .4rem 1.3rem;
        cursor: pointer;
        &:before {
          content:'';
          position: relative;
          border-radius: 50%;
          width: 6px;
          height: 6px;
          display: inline-block;
          top: -3px;
          margin-right: 5px;
        }
        transition: all .2s;
      }
      &.ui-tabs-active a {
        color: #fff !important;
        border-color: transparent;
        &:before {
          background-color: #fff !important;
        }
      }
      & + li {
        margin-left: 6px;
      }
      &:nth-child(1) a:before { background-color: #2bb7b3; }
      &:nth-child(2) a:before { background-color: #2b86d7; }
      &:nth-child(3) a:before { background-color: #6d6ec0; }
      &:nth-child(4) a:before { background-color: #5faa8d; }
      &:nth-child(5) a:before { background-color: #cca66b; }
      &:nth-child(6) a:before { background-color: #e4805d; }
      &:nth-child(7) a:before { background-color: #cb69cd; }
      &:nth-child(1).ui-tabs-active a { background-color: #2bb7b3; }
      &:nth-child(2).ui-tabs-active a { background-color: #2b86d7; }
      &:nth-child(3).ui-tabs-active a { background-color: #6d6ec0; }
      &:nth-child(4).ui-tabs-active a { background-color: #5faa8d; }
      &:nth-child(5).ui-tabs-active a { background-color: #cca66b; }
      &:nth-child(6).ui-tabs-active a { background-color: #e4805d; }
      &:nth-child(7).ui-tabs-active a { background-color: #cb69cd; }
    }
  }
  .ui-tabs-panel {
    padding: 1.2em 0 0;
  }
}
